@charset "UTF-8";

.block-two p.des,
.block-two p.des2,
p.des2 {
  color: #505050;
}
.news .words {
  color: #4d4d4d;
}
.news .live {
  color: #747474;
}
/*BUTTON */
#loan-offer a.button {
  background-color: #5d5e5d !important;
}
a.but{
	display: block;
	overflow: hidden;
	margin: 0 auto;
	padding: 0;
    width: 220px;
	line-height: 50px;
	height: 50px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	background-color: #5d5e5d;
	color: #fff;
	font-size: 16px;
	border: 2px solid transparent;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, .3);
	-webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, .3);
	font-family: "Futura-PT-Book";    
    border-radius: 0;
    letter-spacing: 1px;
}
a.but:hover{
	opacity: 0.9;
}

/* default blog pages */
.list-blogs, .sidebar,
.page-id-1235 section#content-header,
.single-post .col-md-8, /* single blog posts */
.page-id-1280 section#content-header,
.parent-pageid-70 section#content-header, /* newsletter pages */
.page-template-default section#content-header, /* default template */
.page-template-tpl-content-oneColumn section#content-header /* one column template */
	{ /*edited to fix cut off on header */
    margin-top: 50px;
}
.config-container {/*configurator design center template - edited to fix cut off on header */
    margin-top: 60px;
}
@media (max-width: 800px){
.sidebar,
	.single-post .col-md-8 /* single blog posts */ {
	    margin-top: 0px;
	}
}
#sub-menu {
    background: #ffffff!important;
}
#content-header .intro .titleintro {
text-align: center;
}
#pagination {
    padding: 20px 0;
    border-bottom: none!important;

}

#content h1, #content h2, #content h3, #content h4, #content h5, #content h6 {
  color: #c75200;
}

.lp-container .orange-cta {
  background: #5d5e5d;
}
.lp-container .orange-cta:hover {
  background: #333;
}
.hide-me{
  display: none;
}

.main-menu-ul>li .main-menu-dropdown {
  background: #f4f4f4!important

}
a.vce-button--style-basic {
    background: #5d5e5d!important;
    border: 2px solid #5d5e5d!important;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
  padding: 15px 43px;
    min-width: 220px;
  font-family: "Futura-PT-Book";
}
a.vce-button--style-basic.vce-button--style-basic--border-square:hover {
  opacity: 0.9;
  background: #5d5e5d!important;
  border: 2px solid #5d5e5d!important;
  color: #fff!important;
}
.page-template-tpl-shedstories-page .myfooter a.vce-button--style-basic{
  display: block;
  max-width: 240px;
  margin: 25px auto 10px;
}

.ls-fullwidth .ls-thumbnail-slide a {
    margin-right: 3px;
}
.buidbt {
  border: solid #ffffff 2px;
  letter-spacing: 1px;
  color: #fff;
  background-color: #5d5e5d!important;
  font-size: 16px;
  padding: 15px 43px;
  min-width: 220px;
  text-transform: uppercase;
  box-shadow:none !important;
  margin: 10px 0 0 0;
}
.buidbt:hover {
  opacity: 0.9;
  background-color: #5d5e5d!important;
  color: #fff !important;
  border-color: #fff !important;
}
.buidbt:focus {
  color: #fff !important;
}
.title-text-desktop {
    display: none;
  }
@media (max-width: 1400px){
#shedstories .series-info-box,
#home-page .series-info-box {
  top: 80%;
}
  }
  @media (max-width: 650px ){
#shedstories .series-info-box,
#home-page .series-info-box {
  display: none;
    }
#shedstories .title-text-desktop,
#home-page .title-text-desktop {
    display: block;
}
  }
@media (max-width: 1500px){
#home-page .series-info-box {
  width: 60%;
  top: 0;
  }
}
@media (max-width: 1189px){
#shedstories .series-info-box,
#home-page .series-info-box {
  padding: 10px 10px 10px 30px;
    width: 70%;
  min-height: 120px;
  top: 0;
  }
  
#shedstories .series-info-box h2,
#home-page .series-info-box h2 {
  margin-top: 0;
  margin-bottom: 5px;

}
#shedstories .series-info-box p,
#home-page .series-info-box p {
font-size: 12px;  }
  .series-info-box .col1 {
    width: 65%;
}
.series-info-box .col2 {
    width: 32%;
    vertical-align: top;
  margin-top: 15px;
}
.series-info-box .col2 .buidbt {

    font-size: 14px;
    min-width: 100px;
    margin: 0;
    padding: 10px 15px;
}
  }
@media (max-width: 850px){
  #design-landing-header .header-wrap, #secondary-header .header-wrap {
   background-position-y: top!important;
  background-size: cover;
}
.series-info-box {
  padding: 10px 10px 10px 30px;
    width: 100%;
  }
#shedstories .series-info-box h2, #home-page .series-info-box h2 {
    font-size: 18px;
  margin-top: 0;
  margin-bottom: 5px;

}
.series-info-box p{
font-size: 12px;  }
  .series-info-box .col1 {
    width: 65%;
}
.series-info-box .col2 {
    width: 32%;
    vertical-align: top;
}
.series-info-box .col2 .buidbt {

    font-size: 13px;
    padding: 10px;
    min-width: 100px;
    margin: 10px 0 0 0;
}
  }

/*end slider hheader */


#shedstories h1 {
    color: #e25d00;
    text-align: center;
    margin-bottom: 35px;
    font-size: 1.5em;
  text-transform: uppercase;
}
#shedstories h1,
#secondary  h1,
#design-landing h1,
h1, h2, h3, h4
{
    font-family: "Futura-PT-Book";

}

#shedstories .shed-stories-excerpt h2 {
  text-transform: none;
  font-family: "Futura-PT-Book";
    font-size: 1.6em;
}
#shedstories h2 {
  font-size: 16px;
  text-transform: uppercase;
}
.shedstories-title {
  color: #525252;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-family: "Futura-PT-Book";
    line-height: 1.2em;
}
.shedstories-subhead {
  color: #525252;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-family: "Futura-PT-Book";
    line-height: 1.2em;
}
@media (max-width: 650px){
.footerss-more .col-sm-12.col-md-4 {
    padding-bottom: 50px;
}
#secondary-header .header-wrap {
  min-height: 200px!important;
    padding-top: 50px;
    margin-top: 60px; 
  }
}
#secondary-header .header-wrap, #design-landing-header .header-wrap {
  min-height: 250px;
}
#secondary, 
#design-landing, 
section.vcv-content{
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  padding: 20px;
  margin: 0 auto 50px auto;
  margin-top: -170px;
    background-color: #ffffff;
    z-index: 0;
    max-width: 950px;
}
@media (max-width: 850px){
.page-template-tpl-secondary-page #wrapper {
    padding-top: 0px!important;
}
  
#secondary, #design-landing, section.vcv-content{
  margin-top: -100px;
}
}
#secondary .container, #design-landing .container {
    max-width: 850px;
}

#secondary h1, #design-landing h1 {
  color: #e35d00;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
}
#secondary h1 {
  font-size: 1.6em;
}
#design-landing .wide-container {
    max-width: 830px;
}
@media (min-width: 1024px){
#design-landing .wide-container {
    max-width: 830px;
}
}
h3 {
  color: #e35d00;
  font-weight: 800;
  font-size:1.25em;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-family: "Futura-PT-Heavy";
}

.vce-col-inner {
  padding: 0 50px;
}
.gform_button.button, .seemore:hover {
    color: #C75300 !important;
    border: 1px solid #FFA347;
    background-color: #FFF !important;
}

#design-landing h4 {
    color: #c75200;
    text-transform: uppercase;
    font-weight: 300;
}
#design-landing .login-text {
  margin: 25px 0 10px;
}

#design-landing .login-text , #design-landing p{
  text-align: center;
}
#design-landing .login-text p, #design-landing p {
  color: #5d5e5d;
}

#design-landing .product-features-text p {
  text-align: left;
}
#design-landing .product-features-meta {
  display: block;
    margin: 20px 0 0;
    text-align: left;

}
@media (min-width: 660px){
#design-landing   .product-features-meta {
  display: flex;
    margin: 20px 0 0;
    text-align: left;
    width: 50%;
    float: left;
}
#design-landing .product-features-image {
    width: 84px!important;;
    height: 84px!important;;
   margin: 30px 20px 0 0!important;;
}
#design-landing .product-features-text {

    width: 260px!important;
}
}

#design-landing .product-features-image {
    width: 20%;
    height: 84px;
    float: left;
    border-radius: 100px;
    overflow: hidden;
    background-size: contain;
    background-position: center center;
    -webkit-animation: avia_appear .4s 1 cubic-bezier(.175,.885,.32,1.275);
    animation: avia_appear .4s 1 cubic-bezier(.175,.885,.32,1.275);
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    display: block;
    background-repeat: no-repeat;
    margin: 10px 5% 10px 0;
}
#design-landing .product-features-text {
    text-align: left;
    overflow: visible;
    float: left;
    line-height: 1.8em;
    padding-top: 0;
    display: block;
    width: 75%;
}
/*.step-description {
    font-size: 13px;
    color: #000;
}
.step-title {
    font-size: 16px;

    color: #000;
    padding-left: 15px;
    padding-right: 15px;
}*/
section#headline {
    clear: both;
}
.vce-single-image 
{
  min-width: 100%;
  height: auto;
}
h3.vce-post-slider-block-item-title {
    font-size: 20px !important;
    line-height: 1.4em !important;
    margin: 0 0 10px 0;
    color: #e57700 !important;
    font-weight: 700;
    min-height: 56px;
}
@media (max-width: 1024px){
h3.vce-post-slider-block-item-title {
    font-size: 18px!important;
}
}
