@charset "UTF-8";
/* CSS Document 
for the footer*/

body {
    font-family: Tisa-Sans-Pro;
    font-weight: 350;
    font-size: 15px;
    line-height: 1.4em;
}
p {
    font-weight: 300;
    font-size: 15px;
    line-height: 1.4em;
    font-family: Tisa-Sans-Pro;
}


.block-two p.des,
.block-two p.des2,
p.des2 {
  color: #505050;
}
.news .words {
  color: #4d4d4d;
}
.news .live {
  color: #747474;
}
/*BUTTON */
a.but{
	display: block;
	overflow: hidden;
	margin: 0 auto;
	padding: 0;
    width: 220px;
	line-height: 50px;
	height: 50px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	background-color: #5d5e5d;
	color: #fff;
	font-size: 16px;
	border: 2px solid transparent;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, .3);
	-webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, .3);
	font-family: "Futura-PT-Book";    
    border-radius: 0;
    letter-spacing: 1px;
}
a.but:hover{
	opacity: 0.9;
}

/* default blog pages */
.list-blogs, .sidebar,
.page-id-1235 section#content-header,
.single-post .col-md-8, /* single blog posts */
.page-id-1280 section#content-header,
.parent-pageid-70 section#content-header, /* newsletter pages */
.page-template-default section#content-header, /* default template */
.page-template-tpl-content-oneColumn section#content-header /* one column template */
	{ /*edited to fix cut off on header */
    margin-top: 50px;
}
.config-container {/*configurator design center template - edited to fix cut off on header */
    margin-top: 60px;
}
@media (max-width: 800px){
.sidebar,
	.single-post .col-md-8 /* single blog posts */ {
	    margin-top: 0px;
	}
}
#sub-menu {
    background: #ffffff!important;
}
#content-header .intro .titleintro {
text-align: center;
}
#pagination {
    padding: 20px 0;
    border-bottom: none!important;

}
	@media (max-width: 991px){
.main-menu-ul .has-sub .main-menu-dropdown li a {
    font-size: 14px;
}
	}
/*newslettr pop up */
.newletter .gform_wrapper label.gfield_label {
    display: none;
}
/* blog post pages */
	section.one-column {
    margin-bottom: 50px;
}
.emaillist label {
    width: 100%!important;
}
.emaillist input.es_required_field.es_txt_email  {
    width: 100%;
    padding: 7px;
}
input#es_subscription_form_submit_1584396535, .emaillist input[type=submit] {
    border: 2px solid #fff;
    background: transparent;
    padding: 7px 15px;
    text-transform: uppercase;
    font-family: "Futura-PT-Book";
}
input#es_subscription_form_submit_1584396535:hover, .emaillist input[type=submit]:hover {
    border: 2px solid #000;
    background: #fff;
	color: #000;
}
.blog-sidebar label, .emaillist label {
		font-family: "Tisa-Sans-Pro"
	}
/*footer */
footer h3 {
	font-family: "Futura-PT-Heavy"!important;
	font-size: 1.3em;

	}
footer .container {
		background: transparent;
	}
footer .container .row {
    max-width: 100%;
}
.footer-subscribe {
	background: #EBEBEB!important;
	padding: 40px 0;
}
.footer-subscribe h3 {
	color: #525252;
	margin-bottom: 15px;
	text-transform: uppercase;
	font-family: "Futura-PT-Book";
	line-height: 1.2em;
}
.footer-subscribe li{
	list-style-position: outside;
	/*list-style-image: url(/wp-content/uploads/2020/01/footer-subscribe-check.png);*/
	padding-left: 20px!important;
	font-size: 15px;
	display: block!important
	}
	li.check-li {
	background:url(/wp-content/uploads/2020/01/footer-subscribe-check.png) no-repeat;
}

.footer-subscribe div#gform_wrapper_18 {
    margin-top: 20px;
	margin-bottom; 1em;
	max-width: 100%;
}
.footer-subscribe label {
	display: none!important;
}

.footer-subscribe input[type=text]{
	border: solid 1px #999999;
background: #ffffff;
	width: 100%!important;
	}
.footer-subscribe  span#input_18_1_6_container {
    width: 50%;
}
#footer .footer-subscribe ul#gform_fields_18 li {
    width: 100%;
}
#footer .footer-subscribe .gform_wrapper ul.gform_fields li.gfield {
    padding-right: 0;
    margin-top: 0;
}
.footer-subscribe input#input_18_2 {
    width: 100%;
}
.footer-subscribe input[type=submit] {
	color: #e25d00;
    background: transparent;
    border: 2px solid #e25d00;
    font-size: 16px!important;
    padding: 15px 43px;
    min-width: 220px;
	margin-right: 0!important;
    float: right;
	border-radius: 0;
	letter-spacing: 1px;
    text-transform: uppercase;
	margin-right: 20px;
}
.footer-subscribe input[type=submit]:hover {
	background: #fff;
}

.gform_wrapper .gform_footer input.button, .gform_wrapper .gform_footer input[type=submit] {
  background: #525252 !important;  
  border-color: #525252 !important;
  color: #fff !important;
}
.gform_wrapper .gform_footer input.button:hover, .gform_wrapper .gform_footer input[type=submit]:hover {
  color: #fff !important;
  border-color: #525252 !important;
  opacity: 0.9;
}
.gform_wrapper .gform_footer input.button, .gform_wrapper .gform_footer input[type=submit], .gform_wrapper .gform_page_footer input.button, .gform_wrapper .gform_page_footer input[type=submit] {
    width: initial!important;
	}
.footer-subscribe input[type=text]::-webkit-input-placeholder { /* Edge */
  color: #c5c5c6;
}

.footer-subscribe input[type=text]:-ms-input-placeholder { /* Internet Explorer */
  color: #c5c5c6;
}

.footer-subscribe input[type=text]::placeholder {
  color: #c5c5c6;
}
.footer-subscribe .gform_footer {
    padding: 0!important;
    margin: 15px 0 0!important;
    clear: both;
	float: right;
}
/*.footer-subscribe .name_first, 

span#input_18_1_3_container.name_first {
		margin-right: 1%!important;
	} */
@media (max-width:600px){
.footer-subscribe span#input_18_1_3_container, .footer-subscribe span#input_18_1_6_container {
    width: 100%;
}	
#gform_submit_button_18, .footer-subscribe .gform_footer.top_label input {
    float: none;
}
.footer-subscribe .gform_footer.top_label {
    float: none;
	text-align: center;
}

	}
.footer-escape {
		background: #1F1F1F;
			padding: 40px 0;
	}
.footer-escape .row {
		display: table;
	}
	.footer-escape .row div {
		vertical-align: middle;
		display: table-cell;
		float: none;
	}
@media (max-width: 600px){
.footer-escape .row {
		display: block;
		padding: 20px 0;
	}
.footer-escape .row div {
		display: block;
		float: left;
	}
.footer-escape .col-sm-3.col-md-2 {
    float: none;
}
.footer-escape .col-sm-9.col-md-7 {
    padding: 10px 15px 30px 15px;
}
.footer-escape img {
		margin-bottom: 20px;
	}
	.footer-escape img, .footer-escape p {
    text-align: center;
    margin: 0 auto 10px;
    /* float: none; */
    display: flex;
}
.footer-escape h3 {
		text-align: center;
	}
 .footer-escape .col-sm-12.col-md-3 {
    text-align: center;
    padding-top: 30px;
	 float: none;
}
	.footer-escape button, .footer-escape a.button {
    float: none!important;
}
}	
	.footer-escape img, .footer-escape p {
		width: 100%;
	}
.footer-escape h3, .footer-escape p {
	color: #ffffff;
}
.footer-escape h3 {
    margin-bottom: 20px;
	margin-top: 0;
    text-transform: uppercase;
}
.footer-escape  p {
	line-height:1.4em;
	font-size: 15px;
}
.footer-escape .delivery{
	background: url(/wp-content/uploads/2020/01/service-area-bg.jpg) right center no-repeat!important;
    padding: 50px 0;
    margin: 40px 0 0 0;
	background-size: cover!important;
	}
.footer-escape .delivery h3{
		text-align: center;
	}
.footer-escape .delivery hr{
	background-color: #ffa544;
	width: 50px;
	height: 5px;;
border-color: #ffa544;
	}
.inline-image {
    float: left;
    padding-right: 20px;
}
.footer-escape button, .footer-escape a.button {
	  border: solid #fff 2px !important;
    letter-spacing: 1px;
    /* text-shadow: 0px 0px 1px #000000; */
    color: #666 !important;
    background-color: #fff !important;
    font-size: 20px;
    padding: 15px 43px;
    float: right;
    min-width: 220px;
    text-transform: uppercase;
    text-align: center;

}
.footer-escape button:hover, 
.footer-escape a.button.vce-button--style-basic:hover {
	color: #C75300!important;
	background-color: #fff!important;
	border: 2px solid #C75300!important;
}
	.footer-menus {
		background: #000000;
		padding: 40px 0 40px;
	}
	.footer-menus .col-sm-12.col-md-2 {
    padding-right: 0;
}
.footer-menus li {
    display: block!important;
    vertical-align: top;
    font-size: 14px;
	

}
.footer-menus li a{
	COLOR: #FFF;
    TEXT-TRANSFORM: UPPERCASE;
}
.footer-menus ul.menu .menu-item a{
	margin:0!important;
	padding: 0!important;
	line-height: 1.6em!important;
	font-weight: 300!important;
	font-size: 15px;
}
.footer-menus h3 {color:#ffffff;
	text-transform: uppercase;
	font-size: 17px!important;
	margin: 30px 0 10px;
	   text-align: left;
	line-height: 1.2em!important;
}
.footer-menus ul .menu-item {
	width: 100%;
}
.footer-menus ul.menu .menu-item {
    position: relative;
    padding: 0;
    list-style: none;
    WIDTH: 100%;
}
.footer-menus .copyfooter li {
    float: right;
    list-style: none;
    padding: 10px;
	color: #fff;
	font-weight: 300;
}
.footer-menus .copyfooter li a{
    color: #fff;
	font-weight: 300;
}
	span.orange {
    color: #ffa544;
}
.footer-menus .copyright {
    text-align: center;
    color: #ffffff;
	font-size: 15px;
	margin-top: 60px;
}
.footer-menus .copyright a{
    margin-top: 50px;
	color: #fff;
	font-weight: 300;
}
.footer-menus .social li {
    float: left;
    margin: 20px 0 0 0;
}
#content h1, #content h2, #content h3, #content h4, #content h5, #content h6 {
  color: #c75200;
}

.lp-container .orange-cta {
  background: #5d5e5d;
}
.lp-container .orange-cta:hover {
  background: #333;
}
.hide-me{
  display: none;
}
body {
    font-family: 'Tisa-Sans-Pro';
  font-weight: 350;
  font-size: 15px;
  line-height: 1.4em;
}
.main-menu-ul>li .main-menu-dropdown {
  background: #f4f4f4!important

}
a.vce-button--style-basic {
    background: #5d5e5d!important;
    border: 2px solid #5d5e5d!important;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
  padding: 15px 43px;
    min-width: 220px;
  font-family: "Futura-PT-Book";
}
a.vce-button--style-basic.vce-button--style-basic--border-square:hover {
  opacity: 0.9;
  background: #5d5e5d!important;
  border: 2px solid #5d5e5d!important;
  color: #fff!important;
}
.page-template-tpl-shedstories-page .myfooter a.vce-button--style-basic{
  display: block;
  max-width: 240px;
  margin: 25px auto 10px;
}
/* slider header */
#shedstories .series-info-box,
#home-page .series-info-box {
    background: rgba(0,0,0,0.5);
    padding: 20px 20px 30px 60px;
    width: 50%;
    display: block;
    color: #fff;
  top: 20px;
  position: relative;
}
#home-page .series-info-box {
  top: 50px;
}
#shedstories .series-info-box h2,
#shedstories .series-info-box h1,
#home-page .series-info-box h2,
#home-page .series-info-box h1,
#home-page .series-info-mobile h1 
{
  text-transform: uppercase;
  color: #fff;
  font-size: 30px;
    font-family: 'Futura-PT-Heavy'!important;
  letter-spacing: 2px;
  text-align: left;
  }
.series-info-box p{
  color: #fff;  
  }
#shedstories .series-info-box .col1,
#home-page .series-info-box .col1 {
    width: 55%;
    display: inline-block;
}
.series-info-box .col2 {
    width: 40%;
    DISPLAY: INLINE-BLOCK;
    TEXT-ALIGN: right;
    vertical-align: top;
  margin-top: 15px;
}
.ls-fullwidth .ls-thumbnail-slide a {
    margin-right: 3px;
}
.buidbt {
  border: solid #ffffff 2px;
  letter-spacing: 1px;
  color: #fff;
  background-color: #5d5e5d!important;
  font-size: 16px;
  padding: 15px 43px;
  min-width: 220px;
  text-transform: uppercase;
  box-shadow:none !important;
  margin: 10px 0 0 0;
}
.buidbt:hover {
  opacity: 0.9;
  background-color: #5d5e5d!important;
  color: #fff !important;
  border-color: #fff !important;
}
.buidbt:focus {
  color: #fff !important;
}
.title-text-desktop {
    display: none;
  }
@media (max-width: 1400px){
#shedstories .series-info-box,
#home-page .series-info-box {
  top: 80%;
}
  }
  @media (max-width: 650px ){
#shedstories .series-info-box,
#home-page .series-info-box {
  display: none;
    }
#shedstories .title-text-desktop,
#home-page .title-text-desktop {
    display: block;
}
  }
@media (max-width: 1500px){
#home-page .series-info-box {
  width: 60%;
  top: 0;
  }
}
@media (max-width: 1189px){
#shedstories .series-info-box,
#home-page .series-info-box {
  padding: 10px 10px 10px 30px;
    width: 70%;
  min-height: 120px;
  top: 0;
  }
  
#shedstories .series-info-box h2,
#home-page .series-info-box h2 {
  margin-top: 0;
  margin-bottom: 5px;

}
#shedstories .series-info-box p,
#home-page .series-info-box p {
font-size: 12px;  }
  .series-info-box .col1 {
    width: 65%;
}
.series-info-box .col2 {
    width: 32%;
    vertical-align: top;
  margin-top: 15px;
}
.series-info-box .col2 .buidbt {

    font-size: 14px;
    min-width: 100px;
    margin: 0;
    padding: 10px 15px;
}
  }
@media (max-width: 850px){
  #design-landing-header .header-wrap, #secondary-header .header-wrap {
   background-position-y: top!important;
  background-size: cover;
}
.series-info-box {
  padding: 10px 10px 10px 30px;
    width: 100%;
  }
#shedstories .series-info-box h2, #home-page .series-info-box h2 {
    font-size: 18px;
  margin-top: 0;
  margin-bottom: 5px;

}
.series-info-box p{
font-size: 12px;  }
  .series-info-box .col1 {
    width: 65%;
}
.series-info-box .col2 {
    width: 32%;
    vertical-align: top;
}
.series-info-box .col2 .buidbt {

    font-size: 13px;
    padding: 10px;
    min-width: 100px;
    margin: 10px 0 0 0;
}
  }

/*end slider hheader */


#shedstories h1 {
    color: #e25d00;
    text-align: center;
    margin-bottom: 35px;
    font-size: 1.5em;
  text-transform: uppercase;
}
#shedstories h1,
#secondary  h1,
#design-landing h1,
h1, h2, h3, h4
{
    font-family: "Futura-PT-Book";

}
#shedstories p, 
#shedstories p li,
#secondary p,
#secondary  li,
#design-landing p,
#design-landing li ,
p, li {
    font-family: 'Tisa-Sans-Pro';
  
}  
#shedstories .shed-stories-excerpt h2 {
  text-transform: none;
  font-family: "Futura-PT-Book";
    font-size: 1.6em;
}
#shedstories h2 {
  font-size: 16px;
  text-transform: uppercase;
}
.shedstories-title {
  color: #525252;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-family: "Futura-PT-Book";
    line-height: 1.2em;
}
.shedstories-subhead {
  color: #525252;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-family: "Futura-PT-Book";
    line-height: 1.2em;
}
@media (max-width: 650px){
.footerss-more .col-sm-12.col-md-4 {
    padding-bottom: 50px;
}
#secondary-header .header-wrap {
  min-height: 200px!important;
    padding-top: 50px;
    margin-top: 60px; 
  }
}
#secondary-header .header-wrap, #design-landing-header .header-wrap {
  min-height: 250px;
}
#secondary, 
#design-landing, 
section.vcv-content{
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  padding: 20px;
  margin: 0 auto 50px auto;
  margin-top: -170px;
    background-color: #ffffff;
    z-index: 0;
    max-width: 950px;
}
@media (max-width: 850px){
.page-template-tpl-secondary-page #wrapper {
    padding-top: 0px!important;
}
  
#secondary, #design-landing, section.vcv-content{
  margin-top: -100px;
}
}
#secondary .container, #design-landing .container {
    max-width: 850px;
}

#secondary h1, #design-landing h1 {
  color: #e35d00;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
}
#secondary h1 {
  font-size: 1.6em;
}
#design-landing .wide-container {
    max-width: 830px;
}
@media (min-width: 1024px){
#design-landing .wide-container {
    max-width: 830px;
}
}
h3 {
  color: #e35d00;
  font-weight: 800;
  font-size:1.25em;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-family: "Futura-PT-Heavy";
}
p {
  font-weight: 300;
  font-size: 15px;
  line-height: 1.4em;
  font-family: 'Tisa-Sans-Pro';
}
.vce-col-inner {
  padding: 0 50px;
}
.gform_button.button, .seemore:hover {
    color: #C75300 !important;
    border: 1px solid #FFA347;
    background-color: #FFF !important;
}

#design-landing h4 {
    color: #c75200;
    text-transform: uppercase;
    font-weight: 300;
}
#design-landing .login-text {
  margin: 25px 0 10px;
}

#design-landing .login-text , #design-landing p{
  text-align: center;
}
#design-landing .login-text p, #design-landing p {
  color: #5d5e5d;
}

#design-landing .product-features-text p {
  text-align: left;
}
#design-landing .product-features-meta {
  display: block;
    margin: 20px 0 0;
    text-align: left;

}
@media (min-width: 660px){
#design-landing   .product-features-meta {
  display: flex;
    margin: 20px 0 0;
    text-align: left;
    width: 50%;
    float: left;
}
#design-landing .product-features-image {
    width: 84px!important;;
    height: 84px!important;;
   margin: 30px 20px 0 0!important;;
}
#design-landing .product-features-text {

    width: 260px!important;
}
}

#design-landing .product-features-image {
    width: 20%;
    height: 84px;
    float: left;
    border-radius: 100px;
    overflow: hidden;
    background-size: contain;
    background-position: center center;
    -webkit-animation: avia_appear .4s 1 cubic-bezier(.175,.885,.32,1.275);
    animation: avia_appear .4s 1 cubic-bezier(.175,.885,.32,1.275);
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    display: block;
    background-repeat: no-repeat;
    margin: 10px 5% 10px 0;
}
#design-landing .product-features-text {
    text-align: left;
    overflow: visible;
    float: left;
    line-height: 1.8em;
    padding-top: 0;
    display: block;
    width: 75%;
}
/*.step-description {
    font-size: 13px;
    color: #000;
}
.step-title {
    font-size: 16px;

    color: #000;
    padding-left: 15px;
    padding-right: 15px;
}*/
section#headline {
    clear: both;
}
.vce-single-image 
{
  min-width: 100%;
  height: auto;
}
h3.vce-post-slider-block-item-title {
    font-size: 20px !important;
    line-height: 1.4em !important;
    margin: 0 0 10px 0;
    color: #e57700 !important;
    font-weight: 700;
    min-height: 56px;
}
@media (max-width: 1024px){
h3.vce-post-slider-block-item-title {
    font-size: 18px!important;
}
}
/* MenuToggle */
#menu-slide li.cell  {
    background: url(/wp-content/uploads/2020/02/menu-phone-flyout.png) no-repeat left center;
    color: #000;
    font-weight: initial;
}
  #menu-slide li.cell a {
    background: none;
    color: #000;
    font-weight: initial;
    padding-left: 20px;
}
#menu-header-flyout a {
    color: #000;
  font-weight: initial;
} 
#menu-header-flyout a:hover {
    color: #333;
}
#menuToggle{
display: block;
    position: relative;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
    padding: 5px 1px 2px 1px;
    border: #999 solid 1px;
    margin: 13px 10px 0;
}

#menuToggle a
{
  text-decoration: none;
  color: #000000;
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: #ccc;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

/* hamburger menu
 */
@media (max-width: 901px){
.burger-menu {
  display: none;}
.burger-menu li.cell a   {
  background: url(/wp-content/uploads/2020/02/menu-phone.png) no-repeat 50px center;
    }
  }
#menuToggle span
{
  display: block;
  width: 20px;
  height: 1px;
  margin-bottom: 5px;
  position: relative;
  margin-top: 2px;
  background: #999999;
  border-radius: 3px;
  margin-left: 4px;
  margin-right: 4px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
    opacity: 1;
    transform: rotate(45deg) translate(-0px, 1px);
    background: #000;
    width: 26px;
    margin-left: 1px;
    margin-right: 1px;
    height: 3px;

}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}


#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}
.burger-menu #menu-slide
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -250px;
  padding-top: 67px!important;
  padding-right: 50px;
  padding-bottom: 30px;
  padding-left: 40px;
  background: #d9d9d9;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  border: 1px #9a9a9a solid;
  transform-origin: 0% 0%;
transform: translate(0, -500PX);  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
@media (max-width:901px){
    ul#menu-slide, li.burger-menu {
    display: none!important;
}
  }
#menu-header-flyout li {
    padding-left: 20px!important;
}
#menu-slide li
{
  padding: 10px 0;
  font-family: 'Tisa-Sans-Pro', Arial, Helvetica, sans-serif;
  font-size: 14px;
}

/*
 * Atoggle slides to the left
 */
#menuToggle input:checked ~ div
{
  transform: none;
}

/*
 * Design Center CTA Section
 */
 #login-cta{
    margin-top: 5%;
    margin-bottom: 3%;
 }
 #login-cta .login-cta-inner{
    position: relative;
    max-width: 75%;
    margin: 0 auto;
    border-top: 1px solid #d3d3d3;
    z-index: 0;
 } 
 #login-cta .login-cta-inner:before{
    content: '';
    position: absolute;
    z-index: 1;
    top: -30%;
    left: 0;
    right: 0;
    width: 55px;
    height: 55px;
    display: block;
    margin: 0 auto;
    background-color: #ffffff;
    background-image: url(/wp-content/uploads/2020/08/ss-dc-cta-btn-hdr-icon.png);
    background-position: center center;
    background-repeat: no-repeat;
 } 
 #login-cta .login-cta-inner .col{
    display: inline-block;
    padding: 3% 7% 0;
 }
 #login-cta .login-cta-inner h4{
  font-size: 17px;
    margin-bottom: 15px;
 }
 #login-cta .login-cta-inner .seemore{
    width: 185px;
    font-size: 16px !important;
    border: none;
    padding: 7px 15px;
    box-shadow: 3px 3px 6px rgba(0,0,0,0.15);
 }
@media only screen and (max-width:900px){
 #login-cta .login-cta-inner .col{
  padding: 3% 5% 0;
 }
}
@media only screen and (max-width:700px){
 #login-cta .login-cta-inner{
  max-width: 90%;
 }
}
@media only screen and (max-width:600px){
 #login-cta{
    margin-top: 15%;
    margin-bottom: 15%;
 }
 #login-cta .login-cta-inner:before{
  top: -32px;
 }
 #login-cta .login-cta-inner .col{
    padding-top: 10%;
 }
}