@charset "UTF-8";
/* CSS Document 
for header*/

@media (max-width: 991px){
	.main-menu-ul>li.has-sub:hover>a {
    background-color: #f4f4f4!important;
    color: #717372!important;
}
		}
      .menu-child.menu-list .box p{
        height: auto!important;
      }
      #wpadminbar {
        z-index: 9999999!important;
    }
    .main-menu-dropdown li {
        font-size: 0.97em;
    }
    .main-menu-ul li {
        line-height: 1.1em;
    }
    #sub-menu .navbar-toggle{
      background: #ffffff!important;
    }
    #main-menu{
       font-family: 'Tisa-Sans-Pro', Arial, Helvetica, sans-serif;
    }
    .main-menu-ul>li>a{
      font-family: 'Tisa-Sans-Pro', Arial, Helvetica, sans-serif;
      font-size: 14px;
    }
    .main-menu-dropdown > ul > li > a{
      font-size: .9em;
      font-family: 'Tisa-Sans-Pro', Arial, Helvetica, sans-serif;
    }
      /*.main-drop-models .featured{height: 433px!important;}*/
      .content-model-right .description p{
        height: auto!important;
      }
      @media (max-width: 991px){
          .main-menu-ul .has-sub .main-menu-dropdown .row .col-lg-4 > li>a {
               font-size: 14px; 
          }
          .main-menu-ul>li>a {
              font-size: 1.0em;
          }
      }
.main-drop-models .menu-child.menu-list li:hover, 
.main-drop-models .menu-child.menu-list .col-lg-7:hover,
.main-menu-dropdown .row>ul a:hover {
    background-color: #d9d6d6;
}
.main-drop-models .menu-child.menu-list li:hover, 
		.main-drop-models .menu-child.menu-list .col-lg-7:hover{
    color: #000;
}
.main-drop-models .menu-child.menu-list .box:hover p.intro {
    color: #717372;
}
.main-drop-models .menu-child.menu-list .col-lg-7:hover a, .main-drop-models .menu-child.menu-list .col-lg-7:hover p {
    color: inherit;
}
.main-drop-models .menu-child.menu-list .box .time, .main-drop-models .menu-child.menu-list .box:hover .time  {
    color: #5d5e5d!important;
}
.main-drop-models .menu-child.menu-list .box .box-link a, .main-drop-models .menu-child.menu-list .box:hover .box-link a {
color: #f35100;	
	font-weight: 700;
		}



		@media (min-width: 992px){
.menu-list .box {
    cursor: pointer;
}
		}
.main-menu-dropdown li li {
    text-transform: none;
}
.main-menu-dropdown ul li {
    color: #333;
}
.main-menu-ul li {
    line-height: 1.1em;
}
.main-menu-dropdown li {
    font-size: 0.97em;
}
.main-menu-dropdown li {
    text-transform: none;
    font-size: .85em;
}
.main-menu-ul li {
    margin: 0;
    position: relative;
    color: #000;
    font-weight: 600;
    line-height: 1.2em;
}

@media (min-width: 992px){
.main-menu-ul>li .main-menu-dropdown {
    display: block;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
	background: #f4f4f4!important
}
.main-menu-dropdown {
    min-width: 300px;
    width: 100%;
    right: 0;
    left: auto;
    margin: 0;
    font-size: 1em;
    border: none;
    background-color: #fff;
    -webkit-box-shadow: 2px 9px 18px -6px rgba(0,0,0,.22);
    box-shadow: 2px 9px 18px -6px rgba(0,0,0,.22);
}
		}
.main-menu-dropdown {
    border: none;
    background-color: transparent;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 1em;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.main-menu-ul li.active, .main-menu-ul li:hover {
    color: #000;
}
.main-menu-ul>li {
    font-size: 1em;
    font-size: 1.3em;
    text-transform: uppercase;
}

.main-drop-models .menu-child.menu-list li img {
    padding: 3px 0;
    mix-blend-mode: multiply;
}
.menu-child.menu-list .box p {
    height: auto!important;
}
.menu-models .menu-child.menu-list li a {
    padding: 0!important;
}
	/* header */
	
li.logo a {
    padding-left: 0;
    margin-left: 0;
}
	@media (min-width: 1200px){
.main-menu-ul>li>a {
    padding: 22px 20px;
}
	}
	
@media (min-width: 992px){
.main-menu-ul>li>a {
	   color: #000;
		}
.main-menu-ul>li:hover>a:not(.navbar-brand) {
    background-color: #f4f4f4;
    color: #000!important;
}
.main-menu-ul>li:hover>a:hover {
    color: #000!important;
}
.dropdown-menu.main-menu-dropdown.main-drop-models .container, 
.dropdown-menu.main-menu-dropdown.main-drop-models {
    background: #f4f4f4!important;
    border-top: none;
	box-shadow: none;
}
.dropdown-menu.main-menu-dropdown.main-drop-models .menu-child.menu-list .box .time {
    color: #333 !important;
}

.main-drop-models .featured {
    background-repeat: no-repeat!important;
    background-size: cover!important;
}
.main-drop-models .featured {
	min-height: 412px;  /* with sprout 4 sheds*/
  /*  min-height: 315px; */ /* # sheds */
	text-align: center;
	vertical-align: bottom;
}
/*	models - horz
	
	li.parent-type:first-of-type {
		width: 33%;
		padding-left: 30px;
	}

li.parent-type {
	width: 66%;
	float: left;
	
	border-bottom: none!important;
	}
	
li.parent-type ul li{
	padding-left: 30px;
	}
li.parent-type:last-of-type ul li{
	width: 50%;
	float: left;
	border-bottom: none!important;
	  
	}*/
	.menu-child-img {
		min-width: 80px;
		height: auto;
	}
.featured-text p {
	
    color: #fff;
    font-size: 19px;
    text-align: center;
    padding: 22% 40px 0;
}
.content-model-right .description{
    vertical-align: bottom;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.55))!important;
    padding: 20px 60px;
    height: 100%;
}
.content-model-right .description p {
	text-align: center;
	color: #fff;
	font-size: 18px;
	margin-top: 100px
		}
.featured-shed-btns .col-lg-6 {
    text-align: center;
}

.main-menu-dropdown ul .featured-shed-btns a {
    display: inline-block!important;
	background-color: #5d5e5d!important;
	margin: 10px 2%!important;
	color: #fff!important;
	border-radius: 0;
	border: solid #fff 2px;
	padding: 10px 5px;
	min-width: 180px;
	text-transform: uppercase!important;
		}
	}
.main-menu-dropdown ul .featured-shed-btns a:hover{

    background-color: #fff!important;
	color: #5d5e5d!important;
	}
	
.main-menu-dropdown ul a {
    text-transform: initial!important;
}
/*li.cell a   {
	background: url(/wp-content/uploads/2020/02/menu-phone.png) no-repeat 10px center;
		}*/
#menu-slide li.cell  {
    background: url(/wp-content/uploads/2020/02/menu-phone-flyout.png) no-repeat left center;
    color: #000;
    font-weight: initial;
}
	#menu-slide li.cell a {
    background: none;
    color: #000;
    font-weight: initial;
    padding-left: 20px;
}
#menu-header-flyout a {
    color: #000;
	font-weight: initial;
}	
#menu-header-flyout a:hover {
    color: #333;
}
#menuToggle{
display: block;
    position: relative;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
    padding: 5px 1px 2px 1px;
    border: #999 solid 1px;
    margin: 13px 10px 0;
}

#menuToggle a
{
  text-decoration: none;
  color: #000000;
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: #ccc;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

/* hamburger menu
 */
@media (max-width: 901px){
.burger-menu {
	display: none;}
.burger-menu li.cell a   {
	background: url(/wp-content/uploads/2020/02/menu-phone.png) no-repeat 50px center;
		}
	}
#menuToggle span
{
  display: block;
  width: 20px;
  height: 1px;
  margin-bottom: 5px;
  position: relative;
  margin-top: 2px;
  background: #999999;
  border-radius: 3px;
  margin-left: 4px;
  margin-right: 4px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
    opacity: 1;
    transform: rotate(45deg) translate(-0px, 1px);
    background: #000;
    width: 26px;
    margin-left: 1px;
    margin-right: 1px;
    height: 3px;

}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}


#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}
.burger-menu #menu-slide
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -250px;
	padding-top: 67px!important;
	padding-right: 50px;
	padding-bottom: 30px;
	padding-left: 40px;
	background: #d9d9d9;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  border: 1px #9a9a9a solid;
  transform-origin: 0% 0%;
transform: translate(0, -500PX);  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
@media (max-width:901px){
		ul#menu-slide, li.burger-menu {
    display: none!important;
}
	}
#menu-header-flyout li {
    padding-left: 20px!important;
}
#menu-slide li
{
  padding: 10px 0;
  font-family: 'Tisa-Sans-Pro', Arial, Helvetica, sans-serif;
  font-size: 14px;
}

/*
 * Atoggle slides to the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}
@media (min-width: 992px){

#wrapper {
	padding-top:40px!important;
	}
#lg-header-logo img,  
#header-logo img {
	width: 200px!important;
	height: 23px!important;
	}
		}
@media (max-width: 770px){
	#header-logo img {
    max-width: 122px;
    height: 13px;
}		
}
@media (max-width: 950px){
.navbar-brand img {
    max-width: 80%;
}
#wrapper {
	padding-top:40px!important;
	}

.header-mobile {
    min-height: 60px!important;
}
.header-mobile .col-mb-8 {
    padding: 10px 0;
}
#header-logo {
		padding: 12px 0;
	}
.header-mobile .models {
	    padding: 10px;
	}
.hamburger-menu {
    cursor: pointer;
    padding: 10px 7px!important;
}
		}
#main-menu ul.navbar-nav {
    padding-top: 0;
}
#main-menu .menu-models ul {
    padding-top: 0!important;
}
#main-menu ul.menu-child.menu-list li {
    padding-top: 5px;
}
.main-menu-dropdown li li {
    text-transform: none;
}
.main-menu-ul li {
    line-height: 1.1em;
}
.main-menu-dropdown li {
    font-size: 0.97em;
}
.main-menu-dropdown li {
    text-transform: none;
    font-size: .85em;
}
.main-menu-ul li {
    margin: 0;
    position: relative;
    color: #717372;
    font-weight: 600;
    line-height: 1.2em;
}

#main-menu ul {
    list-style: none;
	padding-top: 20px;
}



.main-menu-dropdown {
    border: none;
    background-color: transparent;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 1em;
}

	section#content-header {
    margin-top: 5px;
}

.main-drop-models .menu-child.menu-list .col-lg-7:hover a, .main-drop-models .menu-child.menu-list .col-lg-7:hover p {
    color: inherit;
}
.main-drop-models .menu-child.menu-list .box:hover .time {
    margin-bottom: 12px;
    color: #fba347;
}
p {
    font-weight: 300;
    font-size: 15px;
    line-height: 1.3em;
}
p {
    margin: 0 0 10px;
}


	@media (min-width: 992px){
.main-menu-ul>li .main-menu-dropdown {
    display: block;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
	background: #f4f4f4;
}
.main-menu-dropdown {
    min-width: 300px;
    width: 100%;
    right: 0;
    left: auto;
    margin: 0;
    font-size: 1em;
    border: none;
    background-color: #fff;
    -webkit-box-shadow: 2px 9px 18px -6px rgba(0,0,0,.22);
    box-shadow: 2px 9px 18px -6px rgba(0,0,0,.22);
}
		}
.main-menu-dropdown {
    border: none;
    background-color: transparent;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 1em;
}


li.cell a   {
			background: url(/wp-content/uploads/2020/02/menu-phone.png) no-repeat 5px center;
		}
@media (max-width: 650px){
li.cell a {
    background: url(/wp-content/uploads/2020/02/menu-phone.png) no-repeat 60px center;
}
		}
		@media (min-width: 992px){
.main-menu-ul>li {
    text-transform: uppercase;
    font-size: 1em;
}
.main-menu-ul>li {
    font-size: 1.3em;
    text-transform: uppercase;
}
		



		}


body.woocommerce-checkout #content {
  column-count: 1;
  background: none;
}
body.woocommerce-checkout #content li:before {display: none;}

body.woocommerce-checkout .woocommerce td.product-name .wc-item-meta {
  margin-bottom: 0;
}

body.woocommerce-checkout table.woocommerce-checkout-review-order-table tr.cart-subtotal,
body.woocommerce-checkout table.woocommerce-checkout-review-order-table thead,
body.woocommerce-checkout .product-quantity,
body.woocommerce-checkout div.footer-escape,
body.woocommerce-checkout div.footer-subscribe {
  display: none;
}
body.woocommerce-checkout #payment {
  background: #fff;
  border: 1px solid rgba(0,0,0,.1)
}
body.woocommerce-checkout table.woocommerce-checkout-review-order-table .cart-model-name {
  font-weight: bold;
  font-size: 18px;
}
body.woocommerce-checkout #customer_details,
body.woocommerce-checkout #order_review {
  margin-bottom: 5rem;
}
body.woocommerce-checkout .woocommerce-info {
  border-top-color: #5d5e5d;
}
body.woocommerce-checkout  .woocommerce-info::before {
  color: #5d5e5d;
}
body.woocommerce-checkout #place_order {
  background: #5d5e5d;
  text-transform: uppercase;
}
body.woocommerce-checkout .woocommerce form .form-row {
  padding: 10px 0
}
body.woocommerce-checkout h3,
body.woocommerce-checkout h3 label{
  margin-top: 0;
  margin-bottom: 0;
}