@charset "UTF-8";
/* CSS Document 
styles specific to the Studio Shed Home page


*/
/* HOME BANNER */
@media (min-width: 992px){
#wrapper {
    padding-top: 0!important;
}
}
#wrapper {
    padding-top: 0!important;
}
.main-content {
    display: block;
    overflow: hidden;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}
.main-content .block-main.banner-home {
	display: block;
    overflow: hidden;
    position: relative;
}
.main-content .block-main .info h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 45px;
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 1);
    margin: 0 0 20px 0;
}
.page-template-tpl-home-new h1, 
.page-template-tpl-home-new h2, 
.page-template-tpl-home-new h3, 
.page-template-tpl-home-new h4, 
.page-template-tpl-home-new h5, 
.page-template-tpl-home-new h6 {
    font-family: "Futura-PT-Book";
}
/* BLOCK TWO */

.main-content .block-two h3:before{
	left: 50%;
	bottom: 10px;
}
.main-content .block-two{
	display: flex;
	overflow: visible;	
	position: relative;
	padding: 0;
	background-color: #fff;
	/*height: 21.8rem;*/

}
.main-content .block-two .info-content{
	flex: 1;
	overflow: hidden;	
	padding-top: 40px;
	position: relative;
}
.main-content .block-two.esc .info-content{
	padding-top: 0;
	min-height: 400px;
}
.main-content .block-two.video .info-content{
	background-color: #fff;
	padding-top: 0;
}
.main-content .block-two .info{
	display: block;
	overflow: hidden;
	margin: 0 auto;
	padding-left:47px;
	width: 100%;
	max-width: 500px;
	/*position: absolute;*/
	top: 50%;
	left: 50%;
	/*transform: translate(-50%, -50%);*/
}
.main-content .block-two.video .info{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); 
}
.main-content .block-two.video .info .detail{
	margin-bottom: 0;
}
.main-content .block-two.esc .info{
	padding: 10px 30px;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.main-content .block-two .info h3{
	color: #000;
    padding-bottom: 2.9rem!important;
}
.main-content .block-two .info p.des{
	margin-bottom: 30px;
    color: #6D6D6D;
    font-size: 15px;
    line-height: 20px;
    margin-top: 30px;
}
.main-content .block-two .cover{
	flex: 1;
	overflow: hidden;	
	height: 100%;
	position: relative;
}
.main-content .block-two.video .cover{
	cursor: pointer;
	position: relative;
}
.main-content .block-two.video .cover:before{
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	overflow: hidden;
	background-color: rgba(0, 0, 0, .5);
	content: '';
	width: 100%;
	height: 100%;
}
.main-content .block-two.video .cover iframe{
	display: block;
    overflow: hidden;
    width: 100%;
    max-width: 460px;
    height: 432px;
}
.main-content .block-two .cover img{
	width: 100%;
	float: left;
}

.main-content .block-two .cover img.iconplay{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	display: block;
	overflow: hidden;
	z-index: 1;
	width: 100px;
	height: 100px;
}
.main-content .block-two.esc {
	display: block;
	overflow: hidden;
}
.main-content .block-two.esc .cover{
	flex: unset;
	float: right;
	width: 50%;
	margin-bottom: 0;
}
.main-content .block-two.esc .info-content{
	flex: unset;
	float: left;
	width: 50%;
}
/* BLOCK THREE */
.main-content .block-three{
	display: block;
	overflow: hidden;
	background-color: #fba447;
	position: relative;
	padding: 40px 0;
}
.main-content .block-three:before{
	content: '';
    position: absolute;
    z-index: 1;
    top: 102%;
    left: 50%;
    background-color: #fba447;
    transform: translate(-50%, -50%) rotate(-12deg);
    display: block;
    overflow: hidden;
    width: 120%;
    height: 100%;
}
.main-content .block-three h3{
	z-index: 2;
}
.main-content .block-three h3:before{
	background-color: #b9650d;
}
.main-content .block-three ul.award{
	list-style: none;
	margin: 0;
	/*margin-left:-30px;*/
}
.main-content .block-three ul.award li{
	margin-bottom: 20px;
	/*margin-left:-30px;*/
}
.main-content .block-three ul.award li:last-child{
	margin-bottom: 0;
}
.main-content .block-three ul.award li p{
	line-height: 40px;
	display: flex;
}
.main-content .block-three ul.award li p img{
	width: auto;
	height: 36px;
	vertical-align: middle;
	margin-right: 5px;
}
.main-content .block-three ul.award li p span{
	display: flex;
	font-size: 14px;
	color: #000;
}
.main-content .block-three p.des{
	text-align: center;
	margin-bottom: 10px;
	font-weight: 700;
	color: #000;
	position: relative;
	z-index: 2;
}
.main-content .block-three .subscribe-form{
	display: block;
	overflow: hidden;
	width: 100%;
	max-width: calc(100% - 30px);
	margin: 0 auto;
	position: relative;
	z-index: 2;
}
.main-content .block-three form input[type="text"]{
	background-color: rgba(0,0,0,.2);
	border: 0;
	padding: 0 10px;
	height: 40px;
	line-height: 40px;
	font-size: 16px!important;
	color: #f3e6d6;
	width: 100%!important;
	max-width: 980px!important;
	clear: both;
	margin: 0 auto 10px;
	display: block;
}
.block-three form input[type="text"]::placeholder{
	color: #f3e6d6;
}
.block-three form input[type="submit"]{
	display: block;
	overflow: hidden;
	width: 220px;
	line-height: 50px;
	text-align: center;
	margin: 0 auto; 
	color: #fff;
	background-color: #393939;
	text-transform: uppercase;
	border: 1px solid transparent;
	cursor: pointer;
	padding: 0;
	font-size: inherit;
}
.block-three form input[type="submit"]:hover{
	color: #393939;
	background-color: #fff;
	border: 1px solid #393939;
}
.block-three form ul{
	list-style: none;
}
.block-three form .gfield_label{
	display: none;
}
#gform_17 label {
    display: none!important;
}
/* FREESTANDING BLOCK */
@media only screen and (max-width: 980px){
.main-content .freestanding {
    display: block;
}
}

.main-content .freestanding{
	display: block;
	overflow: hidden;
	padding: 0;
	width:100%;
	position: relative;
}
.main-content .freestanding img{
	width: 100%;
	height: auto;
}
.main-content .freestanding .info-content{
	display: block;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 600px;
}
.main-content .freestanding .info-content .info{
	display: block;
	overflow: hidden;
	width: 100%;
	max-width: calc(100% - 40px);
	margin: 0 auto;
	padding-left: 4rem;
	padding-right: 9.5rem;
}
.main-content .freestanding .info-content h3{
	color: #fba445;
	padding-top: 20px;
	text-align: center;
	width: 350px;
	margin: 0 auto; 
}
.main-content .freestanding .info-content p.des{
	margin-top: 20px;
	margin-bottom: 30px;
	color: #fff;
	font-size: 14px;
	line-height: 18px;
}
/* PRODUCTS */
.main-content .products{
	display: block;
	overflow: hidden;
	padding: 40px 0;
	background-color: #fff;
}
.main-content .products h3{
	color: #000;
	margin-bottom: 40px;
}
.main-content .products ul{
	display: flex;
	overflow: hidden;
	margin: 0 auto 50px;
	width: 100%;
	max-width: 1366px;
	list-style: none;
}
.main-content .products ul li{
	flex: 1;
}
.main-content .products ul li img{
	margin: 0 auto 20px;
	display: block;
	min-height: 13.5rem;
}
.main-content .products ul li .title{
	text-align: center;
	display: inline-block;
	width: 100%;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	background-color: transparent;
	margin-bottom: 0;
}
.main-content .products .slide-product{
	display: block;
	overflow: hidden;
	margin-bottom: 20px;
	position: relative;
}

.main-content .products .slide-product:before{
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	overflow: hidden;
	width: 100%;
	height: 100%;
	content: '';
	z-index: 2;
}
.main-content .products .slide-product .item img{
	margin: 0 auto 20px;
	display: block;
	min-height: 13.5rem;
}
.main-content .products .slide-product .item .title{
	text-align: center;
	display: inline-block;
	width: 100%;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	background-color: transparent;
	margin-bottom: 0;
}
.main-content .products .slide-product .owl-dots{
	text-align: center;
    margin: 20px 0;
}
.main-content .products .slide-product .owl-dots .owl-dot{
	border: 3px solid #fde3c8;
    margin: 0 5px;
}
.main-content .products .slide-product .owl-dots .owl-dot span{
	width: 25px;
    height: 4px;
    display: block; 
}
.main-content .products .slide-product .owl-dots .owl-dot.active{
	border: 3px solid #fba447;
    background-color: #fba447;
}
/* TRANSPORT */

.main-content .transport{
	display: block;
	overflow: hidden;
}
@media only screen and (max-width: 980px){
.main-content .transport .trans {
    padding: 20px 0;
    background-size: cover !important;
    margin-bottom: 20px;
}

.main-content .transport .block-not-full {
    margin-top: 0px;
}
}
.main-content .transport .block-not-full {
    margin-top: -200px;
}
.main-content .transport .trans{
	display: block;
	overflow: hidden;
	padding-top: 40px;
	padding-bottom: 200px;
}
.main-content .transport .trans h3{
	color: #fff;
	margin: 0;
	margin-bottom: 30px;
}
.main-content .transport .trans .img-trans{
	display: block;
	width: 80%;
	max-width: 1366px;
	margin: 0 auto 30px;
}

/* MISC */
.main-content .block-two {
    display: flex;
    overflow: visible;
    position: relative;
    padding: 0;
    background-color: #fff;
    /* height: 21.8rem; */
}

.shadow {
    box-shadow: 1px 1px 7px rgba(0, 0, 0, .1);
    -webkit-box-shadow: 1px 1px 7px rgba(0, 0, 0, .1);
}
.main-content .block-not-full {
    overflow: hidden;
    position: relative;
    padding: 65px;
    background-color: #fff;
}
.main-content h3 {
    font-size: 26px;
    text-transform: uppercase;
    color: #000;
    display: block;
    overflow: hidden;
    width: 100%;
    line-height: 40px;
    padding-bottom: 20px;
    text-align: center;
    position: relative;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 0;
}
@media only screen and (max-width: 980px){
.main-content h3 {
    font-size: 30px;
    line-height: 38px;
}
.main-content .block-flex .column h3 {
    position: relative;
    transform: translateY(0);
    margin-bottom: 30px;
    text-align: center;
}
	.main-content .block-flex .column h3:before {
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 60px;
    height: 7px;
}
}

.main-content .block-flex .column h3 {
    margin-bottom: 0;
    width: calc(100% - 20px);
    text-align: left;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}


.main-content .block-flex .column h3:before {
    left: 0;
    transform: translateX(0);
}
.main-content .block-three h3:before {
    background-color: #b9650d;
}
#form#gform_17 label {
    display: none;
}
.main-content .block-three form input[type="text"] {
    background-color: rgba(0,0,0,.2);
    border: 0;
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    color: #f3e6d6;
    width: 100%;
    max-width: 500px;
    clear: both;
    margin: 0 auto 10px;
    display: block;
}
.main-content h3:before {
    content: '';
    display: block;
    overflow: hidden;
    width: 60px;
    height: 7px;
    background-color: #fba445;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}
/* FLOAT MENU */
.float-menu{
	display: block;
	overflow: hidden;
	position: fixed;
	z-index: 9;
	top: 180px;
	right: 0;
	width: 40px;
	height:	290px;
	transition: width 300ms linear;
}
.float-menu.show{
	width: 300px;
}
.float-menu .icon{
	display: block;
	overflow: hidden;
	width: 40px;
	height: 40px;
	background-color: #fff;
	color: #fba445;
	text-align: center;
	line-height: 40px;
	float: left;
	position: relative;
	padding-top: 3px;
}
.float-menu .icon:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	overflow: hidden;
	width: 100%;
	height: 100%;
	z-index: 1;
}
.float-menu ul{
	list-style: none;
	margin: 0;
	padding: 10px;
}
.float-menu ul.main{
	/*float: right;*/
	position: absolute;
	top: 0;
	left: 40px;
	width: 260px;
	background-color: #fff;
}
.float-menu ul li{
	padding: 10px 0;
	border-bottom: 1px solid #ededed;
}
.float-menu.show .icon i{
	transform: rotate(180deg);
}
.float-menu ul li:last-child{
	border-bottom: 0px solid #ededed;
}
.float-menu ul li a{
	display: block;
	overflow: hidden;
	color: #717372;
	text-transform: uppercase;
	font-family: 'Futura-PT-Book';
	padding-left: 10px;
	font-size: 14px;
	font-weight: 600;
}
.float-menu ul li a:hover{
	color: #B4B4B4;
}
.float-menu ul li img{
	margin-right: 15px; 
	max-width: 28px;
}
.float-menu ul.social{
	display: flex;
	padding: 0;
}
.float-menu ul.social li{
	flex: 1;
	border-bottom: 0px;
	text-align: center;
	padding: 5px 0;
}
.float-menu ul.social li .fas{
	color: #000 !important;
	font-size: 20px!important;
}
.float-menu ul.social li .fab{
	color: #000 !important;
	font-size: 20px!important;
}
.popupVideo{
	position: fixed;
	top: 0;
	left: 0;
	display: block;
	overflow: hidden;
	width: 100%;
	height: 100%;
	z-index: 1000;
	background-color: rgba(0, 0, 0, .9);
}
.popupVideo .wrapper{
	width: 560px;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.popupVideo .wrapper .close{
	position: absolute;
	top: -10px;
	right: -10px;
	display: block;
	overflow: hidden;
	width: 20px;
	height: 20px;
	font-size: 20px;
	color: #fff;
	background-color: #000;
	border-radius: 50%;
}

@media only screen and (max-width: 1366px) {
	.header .main .logomenu{
		visibility: hidden;
	}
	.header .main ul.main-nav{
		max-width: 100%;
	}
	.main-content .block-not-full{
		padding: 40px 50px;
	}




	.footer .footer-content, .footer .footer-reserved{
		padding: 50px;
	}
	.main-content .news .block-news1 .news1{
		max-width: calc(100% - 60px);
	}
	.main-content .news .block-news1 .news1 .owl-nav button{
		top: 20%;
	}
	.main-content .news .block-news1 .news1 .owl-nav .owl-prev{
		left: 30px;
	}
	.main-content .news .block-news1 .news1 .owl-nav .owl-next{
		right: 30px;
	}
	.main-content .block-two .info, .main-content .freestanding .info-content .info{
		padding: 10px 30px;
	}
	.main-content .transport .trans .img-trans{
		max-width: calc(100% - 130px);
	}
}